@mixin heart-mixin {
  height: 48px;
  width: 48px;
  position: relative;
  left: 181px;
  bottom: 81px;
  cursor: pointer;
}

.tile-container {
  margin: 30px 46px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(256px, 256px));
}

.tile {
  width: 256px;
  height: 256px;
  transition: 0.22s ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 7px;
  }

  &__cat {
    object-fit: cover;
    padding: 17px 15px 15px 16px;
  }

  &__heart {
    @include heart-mixin;
    background-image: url('../../assets/favorite_border.svg');

    &:hover {
      background: url('../../assets/favorite_filled.svg');
    }
  }

  &__fav {
    @include heart-mixin;
    background-image: url('../../assets/favorite_picked.svg');
  }
}
