.header {
  display: flex;
  background-color: #2196f3;
  height: 64px;
  align-items: center;
  padding-left: 62px;
}

.header__button {
  display: flex;
  color: white;
  height: 100%;
  padding: 0 15px;
  align-items: center;
  cursor: pointer;
}

.active {
  background-color: #1e88e5;
}
